---
import Button from "./Button.astro";
---

<section id="cta" class="max-w-4xl mx-auto py-16 md:py-24 px-4">
  <div
    class="rounded-3xl flex flex-col items-center text-center px-6 md:px-12 py-20 inset-shadow"
  >
    <h1
      class="text-4xl md:text-5xl font-rubric font-extrabold capitalize text-white mb-3"
    >
      Ready to get started?
    </h1>
    <p class="mb-6">
      Whether you want to build a new app, website, or software solution, we can
      help you achieve your goals. Contact us today and let’s talk about your
      project!
    </p>
    <Button size="lg">Schedule a call</Button>
  </div>
</section>
