---
import Button from "./Button.astro";
---

<section id="cta" class="max-w-4xl mx-auto rounded-3xl flex flex-col items-center text-center my-24 px-12 py-20 inset-shadow">
  <h1
    class="text-5xl font-rubric font-extrabold capitalize text-white mb-3"
  >
    Ready to get started?
  </h1>
  <p class="mb-6">
    If you are interested in working with us or learning more about our
    services, please get in touch with us today. We would love to chat with you
    and discuss how we can help you with your software development needs.We look
    forward to hearing from you soon!
  </p>
  <Button size="lg">Schedule a call</Button>
</section>
