---
import Button from "./Button.astro";
import { Icon } from "astro-icon/components";
import Carousel from "./Carousel.astro";
---

<section class="hero">
  <div
    class="min-h-screen lg:h-screen lg:min-h-0 lg:max-h-[950px] pt-[var(--navbar-height)] flex flex-col"
  >
    <div
      class="w-full py-6 max-w-7xl mx-auto px-4 flex-1 grid md:grid-cols-2 gap-2 justify-center items-center"
    >
      <div class="space-y-6">
        <h1
          class="font-rubric text-5xl md:text-6xl max-w-[520px] leading-[120%] font-bold"
        >
          <span class="text-[#F8C5B9]">Building Software</span> that helps you
          do better
        </h1>
        <p class="max-w-[530px]">
          We specialize in creating innovative and impactful solutions for your
          business needs. Whether you need a new product, a consultation, or a
          training, we have the skills and the passion to help you succeed
        </p>
        <div class="flex gap-2 sm:gap-3 md:justify-start md:gap-4">
          <Button class="lg:hidden">
            <Icon slot="icon-before" name="chat" />
             Schedule a call
          </Button>
          <Button variant="secondary" class="lg:hidden">
            <Icon slot="icon-after" name="forward" />
             View projects
          </Button>
          <Button size="lg" class="hidden lg:flex">
            <Icon slot="icon-before" name="chat" />
             Schedule a call
          </Button>
          <Button variant="secondary" size="lg" class="hidden lg:flex">
            <Icon slot="icon-after" name="forward" />
             View projects
          </Button>
        </div>
      </div>
      <div></div>
    </div>
    <Carousel />
  </div>
</section>
<style>
  .hero {
    background: linear-gradient(0deg, #0c0c0c 0%, #1e1e1e 81.05%);
    mix-blend-mode: screen;
  }
</style>
