---
import Button from "./Button.astro";
import Icon from "astro-icon";

const links = [
  {
    name: "Services",
    url: "#services",
  },
  {
    name: "Our works",
    url: "#works",
  },
  {
    name: "Review",
    url: "#review",
  },

];
---

<nav class="bg-black/30 backdrop-blur-md fixed left-0 top-0 w-full z-10 h-[var(--navbar-height)] flex items-center">
  <div class="w-full container mx-auto px-4 flex justify-between items-center">
   <Icon  name="logo" class="w-12" />
    <ul class="hidden md:flex gap-6">
      {
        links.map((link) => (
          <li class="">
            <a href={link.url} class="font-medium">
              {link.name}
            </a>
          </li>
        ))
      }
    </ul>
    <Button class="hidden md:flex" >Contact us</Button>
  </div>
</nav>
