---
import Icon from "astro-icon";
import Button from "./Button.astro";
import ReviewCard from "./ReviewCard.astro";
import Avatar from "@/assets/images/avatar.png";
import { cn } from "@/utils";

const reviews = [
  {
    name: "Hamzat Victor",
    job: "CEO, HNG",
    review:
      "MSSPACE is better than the other platforms we tried our  hands on for auditing projects",
    image: Avatar,
  },
  {
    name: "Hamzat Victor",
    job: "CEO, HNG",
    review:
      "MSSPACE is better than the other platforms we tried our  hands on for auditing projects",
    image: Avatar,
  },
  {
    name: "Hamzat Victor",
    job: "CEO, HNG",
    review:
      "MSSPACE is better than the other platforms we tried our  hands on for auditing projects",
    image: Avatar,
  },
  {
    name: "Hamzat Victor",
    job: "CEO, HNG",
    review:
      "MSSPACE is better than the other platforms we tried our  hands on for auditing projects",
    image: Avatar,
  },
  {
    name: "Hamzat Victor",
    job: "CEO, HNG",
    review:
      "MSSPACE is better than the other platforms we tried our  hands on for auditing projects",
    image: Avatar,
  },
  {
    name: "Hamzat Victor",
    job: "CEO, HNG",
    review:
      "MSSPACE is better than the other platforms we tried our  hands on for auditing projects",
    image: Avatar,
  },
  {
    name: "Hamzat Victor",
    job: "CEO, HNG",
    review:
      "MSSPACE is better than the other platforms we tried our  hands on for auditing projects",
    image: Avatar,
  },
];
---

<section id="review" class="py-16 md:py-24 flex flex-col gap-12">
  <div class="flex justify-between max-w-7xl w-full mx-auto px-4">
    <div class="flex flex-col gap-3 text-left">
      <h1 class="text-4xl md:text-5xl font-rubric font-extrabold capitalize text-white">
        Don’t take our word for it
      </h1>
      <p class="max-w-[550px] text-lg">
        Our work speaks for itself! check out what our clients are saying about
        our products
      </p>
    </div>
    <div class="hidden md:flex gap-4 items-center">
      <Button class="embla__prev" icon size="lg" variant="outline-plain">
        <span class="sr-only">Go to previous review</span>
        <Icon name="back" />
      </Button>
      <Button class="embla__next" icon variant="outline-plain" size="lg">
        <span class="sr-only">Go to next review</span>
        <Icon name="forward" />
      </Button>
    </div>
  </div>
  <div class="embla overflow-hidden px-4 md:px-8">
    <div class="embla__container flex gap-6">
      {
        reviews.map((review, i) => (
          <ReviewCard
            className={cn("flex-[0_0_100%] md:flex-[0_0_30%]", i === 0 && "ml-6")}
            {...review}
          />
        ))
      }
    </div>
  </div>
</section>
<script>
  import EmblaCarousel, {
    type EmblaOptionsType,
    type EmblaPluginType,
  } from "embla-carousel";
  import { WheelGesturesPlugin } from "embla-carousel-wheel-gestures";
  import Autoplay from "embla-carousel-autoplay";

  const emblaNode = document.querySelector(".embla") as HTMLElement;
  const prevButtonNode = document.querySelector(".embla__prev") as HTMLElement;
  const nextButtonNode = document.querySelector(".embla__next") as HTMLElement;
  const options: EmblaOptionsType = { loop: true, align: "start" };
  const plugins: EmblaPluginType[] = [
    WheelGesturesPlugin(),
    Autoplay({ stopOnMouseEnter: true }),
  ];

  const emblaApi = EmblaCarousel(emblaNode, options, plugins);

  prevButtonNode.addEventListener("click", () => emblaApi.scrollPrev(), false);
  nextButtonNode.addEventListener("click", () => emblaApi.scrollNext(), false);
</script>
